@page "/coinjoin"
@using Blazor.Ionic
@using NBitcoin
@using WalletWasabi.CoinJoin.Common.Models
@using Chaincase.UI.Services
@using Chaincase.Common
@using Chaincase.Common.Models

@inject UIStateService UiStateService
@inject NavigationManager NavigationManager
@inject StackService StackService
@inject CoinJoinViewModel CoinJoinViewModel
@inject StatusViewModel StatusViewModel

@inherits ReactiveComponentBase<CoinJoinViewModel>

<IonContent>

    @* List Coin Join round info**@
    <IonList>

        <IonListHeader>
            <IonLabel>
                CoinJoin Server Status
            </IonLabel>
        </IonListHeader>
        <IonProgressBar value="@ViewModel.RegisteredPercentage" buffer="@ViewModel.QueuedPercentage" />

        <IonItem>
            <IonLabel>Online</IonLabel>
            <IonBadge>@ViewModel.PeersRegistered</IonBadge>
            <IonLabel slot="end">Queued</IonLabel>
            <IonBadge slot="end" color="dark">@ViewModel.PeersQueued</IonBadge>
        </IonItem>
        <IonItem>
            <IonLabel>Minimum required</IonLabel>
            <IonBadge color="secondary" slot="end">₿ @ViewModel.RequiredBTC</IonBadge>
        </IonItem>

        <IonItem>
            <IonLabel>Auto-join at</IonLabel>
            <IonBadge slot="end">@ViewModel.PeersNeeded peers</IonBadge>
        </IonItem>

        <IonItem>
            <IonLabel>Current phase</IonLabel>
            <IonBadge color="light" slot="end">@(PhaseToString(ViewModel.RoundPhaseState))</IonBadge>
        </IonItem>
        <IonItem>
            <IonLabel>Phase ends in</IonLabel>
            <IonBadge color="light" slot="end">@($"{ViewModel.TimeLeftTillRoundTimeout:hh\\:mm\\:ss}")</IonBadge>
        </IonItem>
        <IonItem>
            <IonLabel>CoinJoin fee</IonLabel>
            <IonBadge color="light" slot="end">@(ViewModel.CoordinatorFeePercent)% per peer</IonBadge>
        </IonItem>
    </IonList>
    <IonList>
        <IonListHeader>
            <IonLabel>
                Bitcoin to Join
            </IonLabel>
            @if (IsReady)
            {
                <div class="ion-padding-end">
                    <IonChip class="ion-padding-end" color="primary" @onclick='() => NavigateTo($"/coinjoin/selectcoins")'>
                        @(HasSelectedCoins ? $"{SelectedCoinsCount} {(SelectedCoinsCount == 1 ? "coin" : "coins")} ₿ {ViewModel.CoinList?.SelectedAmount}" : "Add +")
                    </IonChip>
                </div>
            }
            else
            {
                <div class="ion-padding-end">
                    <IonSpinner />
                </div>
            }
        </IonListHeader>
        @foreach (var coin in CoinsToJoin)
        {
            <IonItem button>
                <IonLabel>
                    <h3>₿ @coin.Amount</h3>
                    <p>@coin.Clusters</p>
                    <p><IonBadge color="@StatusToColor(coin.Status)">@(StatusToString(coin.Status))</IonBadge></p>
                </IonLabel>
                <IonNote slot="end" color="@(coin.AnonymitySet > Config.DefaultPrivacyLevelSome ? "success" : "warning")">
                    <ion-anchor @onclick="@(() => OpenCoinDetail(coin))">@coin.AnonymitySet</ion-anchor>
                </IonNote>
            </IonItem>
        }
    </IonList>

    <IonAlert @bind-Visible="@IsAlertVisible"
              header="Keep open to CoinJoin"
              message="In beta, Chaincase must be open to complete a CoinJoin. You will be notified when to open back to this screen, so you can do other things with your device for now."
              Buttons="buttons"
              backdrop-dismiss="true" />
    <IonToast @bind-Visible="@IsToastVisible" color="@ToastColor" message="@ToastMessage" duration="@ToastDuration" />
    <IonLoading @bind-Visible="@ViewModel.IsEnqueueBusy" message="CoinJoin magic..." />
</IonContent>
<CoinDetailModal @bind-Visible="@IsDetailModalVisible" @bind-CoinViewModel="@CurrentCoinViewModel" />
<IonFooter>
    @if (IsQueuedToCoinJoin)
    {
    <div class="ion-padding">
        <IonButton class="neu-button ion-padding" OnClick='@ExitCoinJoin' expand="block">EXIT COINJOIN</IonButton>
    </div>
    }
    else if (!ViewModel.HasSelectedEnough || ViewModel.HasTooManyInputs)
    {
    <div class="ion-padding">
        <IonButton class="neu-button" color="primary" OnClick='() => NavigateTo($"/coinjoin/selectcoins")' expand="block">SELECT BITCOIN</IonButton>
    </div>
    }
    else
    {
    <IonCard color="light">
        <IonCardContent>
            <IonLabel position="stacked" class="ion-padding">Enter Password</IonLabel>
            <IonItem>
                <IonPasswordInput @bind-Value="Password" />
            </IonItem>
            <IonButton OnClick="@CoinJoin" color="primary" class="neu-button">ENTER COINJOIN</IonButton>
        </IonCardContent>
    </IonCard>
    }
</IonFooter>

@code {
    [Parameter]
    public bool IsAlertVisible { get; set; }

    public IonAlert.IonAlertButton[] buttons;

    private string Password = "";
    private bool IsToastVisible;
    private string ToastMessage = "";
    private const int ToastDuration = 2000; // ms
    private string ToastColor;

    private bool IsDetailModalVisible { get; set; }
    private bool IsAuthorizeModalVisible { get; set; }
    private CoinViewModel CurrentCoinViewModel { get; set; }
    private IEnumerable<CoinViewModel> CoinsToJoin => SelectedCoins?.Union(JoiningCoins)?.OrderBy(x => x.IsSelected ? 0 : 1);
    private IEnumerable<CoinViewModel> SelectedCoins => ViewModel.CoinList?.CoinList.Where(x => x.IsSelected);
    private int SelectedCoinsCount => ViewModel.CoinList?.CoinList.Where(x => x.IsSelected).Count() ?? 0;
    private IEnumerable<CoinViewModel> JoiningCoins => ViewModel.CoinList?.CoinList.Where(x => x.CoinJoinInProgress);


    protected override void OnInitialized()
    {
        ViewModel = CoinJoinViewModel;
        UiStateService.Title = "CoinJoin";

        buttons = new[]
       {
            new IonAlert.IonAlertButton()
            {
                Options = new Dictionary<string, object>()
{
                    {"text", "That's cool"},
                    {"role", "ok"}
                },
                Handler = _ =>
                {
                    return Task.CompletedTask;
                }
            }
        };
    }

    private void NavigateTo(string destination)
    {
        StackService.PushStackState(async () =>
        {
            await NavigationManager.NavigateBack(null, $"/coinjoin");
            IsAlertVisible = ViewModel.IsQueuedToCoinJoin;
        });
        NavigationManager.NavigateTo(destination);
    }

    private async Task CoinJoin()
    {
        try
        {
            await ViewModel.DoEnqueueAsync(Password);
            Password = "";
            ToastMessage = "Success! Queued to join.";
            ToastColor = "success";
            IsToastVisible = true;
        }
        catch (Exception ex)
        {
            ToastMessage = ex.Message;
            ToastColor = "danger";
            IsToastVisible = true;
        }
    }

    private async Task ExitCoinJoin()
    {
        await ViewModel.ExitCoinJoinAsync();
    }

    private void OpenCoinDetail(CoinViewModel coin)
    {
        CurrentCoinViewModel = coin;
        IsDetailModalVisible = true;
    }

    private static string PhaseToString(RoundPhaseState state)
    {
        return state.Phase switch
        {
            RoundPhase.InputRegistration => "1/4: Register Inputs",
            RoundPhase.ConnectionConfirmation => "2/4: Confirm Connections",
            RoundPhase.OutputRegistration => "3/4: Register Outputs",
            RoundPhase.Signing => "4/4: Signing CoinJoin 🪄",
            _ => ""
        };
    }

    private static string StatusToColor(SmartCoinStatus status)
    {
        return status switch
        {
            SmartCoinStatus.Confirmed => "light",
            SmartCoinStatus.Unconfirmed => "light",
            SmartCoinStatus.MixingOnWaitingList => "medium",
            SmartCoinStatus.MixingBanned => "danger",
            SmartCoinStatus.MixingInputRegistration => "primary",
            SmartCoinStatus.MixingConnectionConfirmation => "success",
            SmartCoinStatus.MixingOutputRegistration => "success",
            SmartCoinStatus.MixingSigning => "success",
            SmartCoinStatus.SpentAccordingToBackend => "danger",
            SmartCoinStatus.MixingWaitingForConfirmation => "warning",
            _ => throw new NotSupportedException() // Or rather not implemented?
        };
    }

    private static string StatusToString(SmartCoinStatus status)
    {
        return status switch
        {
            SmartCoinStatus.Confirmed => "",
            SmartCoinStatus.Unconfirmed => "",
            SmartCoinStatus.MixingOnWaitingList => "queued",
            SmartCoinStatus.MixingBanned => "banned",
            SmartCoinStatus.MixingInputRegistration => "registered",
            SmartCoinStatus.MixingConnectionConfirmation => "connection confirmed",
            SmartCoinStatus.MixingOutputRegistration => "output registered",
            SmartCoinStatus.MixingSigning => "signed",
            SmartCoinStatus.SpentAccordingToBackend => "spent",
            SmartCoinStatus.MixingWaitingForConfirmation => "waiting for confirmation",
            _ => ""
        };
    }

    private bool IsQueuedToCoinJoin => ViewModel.AmountQueued is not null && ViewModel.AmountQueued.CompareTo(Money.Zero) != 0;

    private bool IsReady => StatusViewModel.FiltersLeft == 0 &&
                             StatusViewModel.Backend == WalletWasabi.Models.BackendStatus.Connected &&
                             StatusViewModel.Tor == WalletWasabi.Models.TorStatus.Running;

    private bool HasSelectedCoins => (ViewModel.CoinList?.SelectedAmount ?? Money.Zero) > Money.Zero;

}
