@page "/send/amount"
@using Chaincase.UI.Services
@inject SendViewModel SendViewModel
@inject StackService StackService
@inject UIStateService UiStateService
@inject NavigationManager NavigationManager
@inherits ReactiveComponentBase<SendViewModel>

<IonContent>
    <IonItem>
        <IonLabel>Amount</IonLabel>
        <IonInput class="ion-text-end" slot="end" @bind-Value="ViewModel.AmountText" min="0"/>
    </IonItem>
    <IonItem>
        <IonLabel>Automatic Coin Selection</IonLabel>
        <IonToggle color="secondary" @bind-Value="IsCoinSelectionAutomatic"/>
    </IonItem>
    <IonItem>
        <IonLabel>Amount Selected</IonLabel>
        <IonChip @onclick="NavigateToSelectCoinsPage" color="primary" disabled="@(IsCoinSelectionAutomatic)">
            ₿ @ViewModel.SelectCoinsViewModel.SelectedAmount
        </IonChip>
    </IonItem>
    <IonItem>
        <IonLabel>Send Max</IonLabel>
        <IonToggle color="secondary" @bind-Value="ViewModel.IsMax" />
    </IonItem>
    <IonItem>
        <IonLabel>Fee</IonLabel>
        <IonChip color="primary" @onclick="ToggleSelectFeeModal">@ViewModel.FeeRate</IonChip>
    </IonItem>
    <div class="ion-padding">
        <IonButton OnClick="NavigateToSendApprovalPage" expand="block" color="primary"
                   disabled="@(!ViewModel.IsTransactionOkToSign)">CONFIRM SEND</IonButton>
    </div>
</IonContent>

<FeeModal @bind-Visible="@IsFeeModalVisible"
            FeeViewModel="@FeeViewModel"/>

@code {

    private bool IsSelectCoinsModalVisible;
    private bool IsFeeModalVisible;
    private bool _isCoinSelectionAutomatic;
    public bool IsCoinSelectionAutomatic
    {
        get => _isCoinSelectionAutomatic;
        set
        {
            if (value)
            {
                ViewModel.SelectCoinsViewModel.SelectPrivateCoins();
            }
            _isCoinSelectionAutomatic = value;
        }
    }

    private FeeViewModel FeeViewModel { get; set; }

    private double amount { get; set; }

    protected override void OnInitialized()
    {
        ViewModel = SendViewModel;
        FeeViewModel = new FeeViewModel(SendViewModel);
        UiStateService.Title = "SEND";
    }

    private void ToggleSelectFeeModal() =>
        IsFeeModalVisible = !IsFeeModalVisible;

    private void NavigateToSelectCoinsPage()
    {
        StackService.PushStackState(async () =>
        {
            await NavigationManager.NavigateBack(null, "/send/amount");
        });
        NavigationManager.NavigateTo("/selectcoins");
    }

    private void NavigateToSendApprovalPage()
    {
        StackService.PushStackState(async () => {
            await NavigationManager.NavigateBack(null, "/send/amount");
        });
        NavigationManager.NavigateTo("/send/approve");
    }
 }
