<ion-app>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <LayoutView Layout="@typeof(MainLayout)">
                <TransitionableRoutePrimary RouteData="@routeData">
                    <TransitionableRouteView DefaultLayout="@typeof(MainViewLayout)"/>
                </TransitionableRoutePrimary>
                <TransitionableRouteSecondary RouteData="@routeData">
                    <TransitionableRouteView DefaultLayout="@typeof(MainViewLayout)"/>
                </TransitionableRouteSecondary>
            </LayoutView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</ion-app>
